<launch>

  <arg name="joint_state_gui" default="false" description="If true, select the GUI version of :ros:exec:`join_state_publisher/join_state_publisher`"/>
  <arg name="joint_state_rate" default="10.0" description="The rate to publish :ros:pub:`joint_states`"/>
  <let name="js_suffix" value="" unless="$(var joint_state_gui)"/>
  <let name="js_suffix" value="_gui" if="$(var joint_state_gui)"/>

  <include file="$(find-pkg-share robomaster_description)/launch/model.launch.py"/>

  <node name="joint_state_publisher" exec="joint_state_publisher$(var js_suffix)"
    pkg="joint_state_publisher$(var js_suffix)"  output="screen" args="--ros-args --log-level warn">
    <param name="source_list" value="joint_states_p" value-sep=","/>
    <param name="rate" value="$(var joint_state_rate)"/>
  </node>

</launch>
