<launch>

  <arg name="name" default=""/>
  <arg name="serial_number" default=""/>
  <arg name="conn_type" default="sta"/>

  <push-ros-namespace namespace="$(var name)"/>

  <node name="robomaster" pkg="robomaster_ros" exec="robomaster_driver" output="screen" args="--ros-args --log-level info">
    <param name="tf_prefix" value="$(var name)"/>
    <param name="serial_number" value="$(var serial_number)"/>
    <param name="conn_type" value="$(var conn_type)"/>

    <param name="camera">
      <param name="enabled" value="true"/>
    </param>
  </node>


</launch>
