<launch>

  <!-- a name used as ROS namespace -->
  <arg name="name" default=""/>
  <!-- the serial number of the robot, leave empty to connect to the first found -->
  <arg name="serial_number" default=""/>
  <!-- the connection type; one of
    - sta (managed network)
    - ap (robot's access point network)
    - rndis (usb)
  -->
  <arg name="with_model_description" default="true"/>
  <arg name="conn_type" default="sta"/>
  <!-- the log-level used by the internal robomaster API -->
  <arg name="lib_log_level" default="ERROR"/>
  <!-- the video [vertical] resolution; one of
    - 360 (640x360)
    - 540 (960x540)
    - 720 (1280x640)
 -->
  <arg name="video_resolution" default="360"/>
  <!-- whether to publish the raw [decompressed] images to the topic `<name>/camera/image_raw` -->
  <arg name="video_raw" default="true"/>
  <!-- whether to publish the original h264 video stream to the topic `<name>/camera/image_h264` -->
  <arg name="video_h264" default="false"/>
  <!-- whether to publish the compressed [jpeg] images to the topic `<name>/camera/image_compressed` -->
  <arg name="video_compressed" default="false"/>
  <!-- whether to publish the raw [decompressed] audio to the topic `<name>/camera/audio` -->
  <arg name="audio_raw" default="false"/>
  <!-- whether to publish the original [compressed] opus audio stream to the topic `<name>/camera/audio_opus` -->
  <arg name="audio_opus" default="false"/>
  <!-- the rate [Hz] to publish the odometry -->
  <arg name="chassis_rate" default="10"/>
  <!-- the rate [Hz] to publish aggregated joint states -->
  <arg name="joint_state_rate" default="10.0"/>
  <!-- the [arm] left motor encoder value at zero angle -->
  <arg name="left_motor_zero" default="1024"/>
  <!-- the [arm] right motor encoder value at zero angle -->
  <arg name="right_motor_zero" default="1024"/>
  <!-- the [arm] left motor direction; one of
    - +1 for angle increases when encoder increases
    - -1 for angle decreases when encoder increases
   -->
  <!-- <arg name="left_motor_direction" default="-1"/> -->
  <!-- the [arm] right motor direction; one of
    - +1 for angle increases when encoder increases
    - -1 for angle decreases when encoder increases
   -->
  <!-- <arg name="right_motor_direction" default="-1"/> -->

  <!-- Whether at least one sensor adapter (IO) is connected and should be published to `<name>/...`  -->

  <arg name="arm_rate" default="10"/>
  <arg name="arm" default="true"/>
  <arg name="servo" default="false"/>

  <arg name="sensor_adapter" default="false"/>
  <!-- the rate [Hz] at which to publish the sensor adapter values -->
  <arg name="sensor_adapter_rate" default="10"/>

  <arg name="tof_0" default="False"/>
  <arg name="tof_0_parent" default="base_link"/>
  <arg name="tof_0_xyz" default="0 0 0"/>
  <arg name="tof_0_rpy" default="0 0 0"/>
  <arg name="tof_1" default="False"/>
  <arg name="tof_1_parent" default="base_link"/>
  <arg name="tof_1_xyz" default="0 0 0"/>
  <arg name="tof_1_rpy" default="0 0 0"/>
  <arg name="tof_2" default="False"/>
  <arg name="tof_2_parent" default="base_link"/>
  <arg name="tof_2_xyz" default="0 0 0"/>
  <arg name="tof_2_rpy" default="0 0 0"/>
  <arg name="tof_3" default="False"/>
  <arg name="tof_3_parent" default="base_link"/>
  <arg name="tof_3_xyz" default="0 0 0"/>
  <arg name="tof_3_rpy" default="0 0 0"/>
  <arg name="tof_rate" default="10"/>

  <!-- the rate [Hz] at which to publish the sensor adapter values -->
  <arg name="tof_rate" default="10"/>

  <arg name="camera_calibration_suffix" default=""/>
  <arg name="camera_calibration_directory" default="$(find-pkg-share robomaster_ros)/config"/>
  <arg name="chassis_twist_to_wheel_speeds" default="false"/>
  <arg name="chassis_force_level" default="false"/>

  <include file="$(find-pkg-share robomaster_ros)/launch/main.launch">
    <arg name="with_model_description" value="$(var with_model_description)"/>
    <arg name="arm" value="$(var arm)"/>
    <arg name="servo" value="$(var servo)"/>
    <arg name="arm_rate" value="$(var arm_rate)"/>
    <arg name="gripper" value="true"/>
    <arg name="model" value="ep"/>
    <arg name="name" value="$(var name)"/>
    <arg name="serial_number" value="$(var serial_number)"/>
    <arg name="conn_type" value="$(var conn_type)"/>
    <arg name="lib_log_level" value="$(var lib_log_level)"/>
    <arg name="video_resolution" value="$(var video_resolution)"/>
    <arg name="video_raw" value="$(var video_raw)"/>
    <arg name="video_h264" value="$(var video_h264)"/>
    <arg name="video_compressed" value="$(var video_compressed)"/>
    <arg name="audio_raw" value="$(var audio_raw)"/>
    <arg name="audio_opus" value="$(var audio_opus)"/>
    <arg name="chassis_rate" value="$(var chassis_rate)"/>
    <arg name="joint_state_rate" value="$(var joint_state_rate)"/>
    <arg name="left_motor_zero" value="$(var left_motor_zero)"/>
    <arg name="right_motor_zero" value="$(var right_motor_zero)"/>
    <arg name="sensor_adapter" value="$(var sensor_adapter)"/>
    <arg name="sensor_adapter_rate" value="$(var sensor_adapter_rate)"/>
    <arg name="tof_0" value="$(var tof_0)"/>
    <arg name="tof_0_parent" value="$(var tof_0_parent)"/>
    <arg name="tof_0_xyz" value="$(var tof_0_xyz)"/>
    <arg name="tof_0_rpy" value="$(var tof_0_rpy)"/>
    <arg name="tof_1" value="$(var tof_1)"/>
    <arg name="tof_1_parent" value="$(var tof_1_parent)"/>
    <arg name="tof_1_xyz" value="$(var tof_1_xyz)"/>
    <arg name="tof_1_rpy" value="$(var tof_1_rpy)"/>
    <arg name="tof_2" value="$(var tof_2)"/>
    <arg name="tof_2_parent" value="$(var tof_2_parent)"/>
    <arg name="tof_2_xyz" value="$(var tof_2_xyz)"/>
    <arg name="tof_2_rpy" value="$(var tof_2_rpy)"/>
    <arg name="tof_3" value="$(var tof_3)"/>
    <arg name="tof_3_parent" value="$(var tof_3_parent)"/>
    <arg name="tof_3_xyz" value="$(var tof_3_xyz)"/>
    <arg name="tof_3_rpy" value="$(var tof_3_rpy)"/>
    <arg name="tof_rate" value="$(var tof_rate)"/>
    <arg name="camera_calibration_suffix" value="$(var camera_calibration_suffix)"/>
    <arg name="camera_calibration_directory" value="$(var camera_calibration_directory)"/>
    <arg name="chassis_twist_to_wheel_speeds" value="$(var chassis_twist_to_wheel_speeds)"/>
    <arg name="chassis_force_level" value="$(var chassis_force_level)"/>
  </include>

</launch>
