<launch>

  <arg name="name" default=""/>
  <arg name="model" default="ep"/>
  <arg name="serial_number" default=""/>
  <arg name="conn_type" default="sta"/>
  <arg name="lib_log_level" default="ERROR"/>
  <arg name="joint_state_rate" default="10.0"/>

  <arg name="arm" default="false"/>
  <arg name="armor" default="true"/>
  <arg name="battery" default="true"/>
  <arg name="blaster" default="false"/>
  <arg name="camera" default="true"/>
  <arg name="gripper" default="false"/>
  <arg name="sbus" default="false"/>
  <arg name="pwm" default="true"/>
  <arg name="servo" default="false"/>
  <arg name="tof" default="false"/>
  <arg name="uart" default="false"/>
  <arg name="vision" default="true"/>
  <arg name="gimbal" default="false"/>

<!-- [0, 1, 5, 10, 20, 50] -->
  <arg name="chassis_rate" default="10"/>
  <arg name="gimbal_rate" default="10"/>

  <arg name="video" default="true"/>
  <arg name="video_resolution" default="360"/>
  <arg name="video_raw" default="true"/>
  <arg name="video_h264" default="false"/>
  <arg name="audio" default="true"/>
  <arg name="audio_raw" default="true"/>
  <arg name="audio_opus" default="true"/>
  <arg name="video_compressed" default="false"/>

  <arg name="left_motor_zero" default="1242"/>
  <arg name="right_motor_zero" default="1273"/>
  <arg name="left_motor_direction" default="-1"/>
  <arg name="right_motor_direction" default="-1"/>

  <push-ros-namespace namespace="$(var name)"/>

  <node name="robomaster" pkg="robomaster_ros" exec="robomaster_driver" output="screen"
    args="--ros-args --log-level info">
    <param name="tf_prefix" value="$(var name)"/>
    <param name="serial_number" value="$(var serial_number)"/>
    <param name="conn_type" value="$(var conn_type)"/>
    <param name="lib_log_level" value="$(var lib_log_level)"/>

    <param name="arm">
      <param name="enabled" value="$(var arm)"/>
      <param name="right_motor.zero" value="$(var right_motor_zero)"/>
      <param name="left_motor.zero" value="$(var left_motor_zero)"/>
      <param name="right_motor.direction" value="$(var right_motor_direction)"/>
      <param name="left_motor.direction" value="$(var left_motor_direction)"/>
    </param>
    <param name="armor">
      <param name="enabled" value="$(var armor)"/>
    </param>
    <param name="battery">
      <param name="enabled" value="$(var battery)"/>
    </param>
    <param name="blaster">
      <param name="enabled" value="$(var blaster)"/>
    </param>
    <param name="camera">
      <param name="enabled" value="$(var camera)"/>
      <param name="video">
        <param name="enabled" value="$(var video)"/>
        <param name="raw" value="$(var video_raw)"/>
        <param name="h264" value="$(var video_h264)"/>
        <param name="resolution" value="$(var video_resolution)"/>
      </param>
      <param name="audio">
        <param name="enabled" value="$(var audio)"/>
        <param name="raw" value="$(var audio_raw)"/>
        <param name="opus" value="$(var audio_opus)"/>
      </param>
    </param>
    <param name="chassis">
      <param name="enabled" value="true"/>
      <param name="rate" value="$(var chassis_rate)"/>
    </param>
    <param name="gripper">
      <param name="enabled" value="$(var gripper)"/>
    </param>
    <param name="led">
      <param name="enabled" value="true"/>
    </param>
    <param name="pwm">
      <param name="enabled" value="$(var pwm)"/>
    </param>
    <param name="sbus">
      <param name="enabled" value="$(var sbus)"/>
    </param>
    <param name="servo">
      <param name="enabled" value="$(var servo)"/>
      <param name="config" value="$(find-pkg-share robomaster_ros)/config/servos.yaml"/>
    </param>
    <param name="speaker">
      <param name="enabled" value="true"/>
    </param>
    <param name="tof">
      <param name="enabled" value="$(var tof)"/>
    </param>
    <param name="uart">
      <param name="enabled" value="$(var uart)"/>
    </param>
    <param name="vision">
      <param name="enabled" value="$(var vision)"/>
    </param>
    <param name="gimbal">
      <param name="enabled" value="$(var gimbal)"/>
      <param name="rate" value="$(var gimbal_rate)"/>
    </param>
  </node>

  <include file="$(find-pkg-share robomaster_description)/launch/main.launch">
    <arg name="name" value="$(var name)"/>
    <arg name="model" value="$(var model)"/>
    <arg name="rate" value="$(var joint_state_rate)"/>
  </include>

  <node pkg="image_transport" name="image_compressed" exec="republish" args="raw in:=/camera/image_raw compressed out:=/camera/image_raw" if="$(var video_compressed)" />

</launch>
