<launch>

  <arg name="name" default=""/>
  <arg name="serial_number" default=""/>
  <arg name="conn_type" default="sta"/>
  <arg name="lib_log_level" default="ERROR"/>
  <arg name="video_resolution" default="360"/>
  <arg name="video_raw" default="true"/>
  <arg name="video_h264" default="false"/>
  <arg name="audio_raw" default="true"/>
  <arg name="audio_opus" default="false"/>

  <include file="$(find-pkg-share robomaster_ros)/launch/main.launch">
    <arg name="gimbal" value="true"/>
    <arg name="blaster" value="true"/>
    <arg name="model" value="s1"/>
    <arg name="name" value="$(var name)"/>
    <arg name="serial_number" value="$(var serial_number)"/>
    <arg name="conn_type" value="$(var conn_type)"/>
    <arg name="lib_log_level" value="$(var lib_log_level)"/>
    <arg name="video_resolution" value="$(var video_resolution)"/>
    <arg name="video_raw" value="$(var video_raw)"/>
    <arg name="video_h264" value="$(var video_h264)"/>
    <arg name="audio_raw" value="$(var audio_raw)"/>
    <arg name="audio_opus" value="$(var audio_opus)"/>
  </include>

</launch>
