<?xml version="1.0"?>
<robot name="robomaster_s1" xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">

  <xacro:arg name="name" default=""/>
  <xacro:property name="_name" value="$(arg name)"/>
  <xacro:if value="${_name != ''}">
    <xacro:property name="tf_prefix" value="${_name}/"/>
  </xacro:if>
  <xacro:if value="${_name == ''}">
    <xacro:property name="tf_prefix" value=""/>
  </xacro:if>

  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="gimbal.urdf.xacro"/>
  <xacro:include filename="camera.urdf.xacro"/>
  <xacro:include filename="intelligent_controller.urdf.xacro"/>
  <xacro:include filename="tof.urdf.xacro"/>

  <xacro:base tf_prefix="${tf_prefix}"/>
  <xacro:gimbal tf_prefix="${tf_prefix}"/>
  <xacro:camera tf_prefix="${tf_prefix}" mount="gimbal"/>
  <xacro:intelligent_controller tf_prefix="${tf_prefix}" mount="gimbal"/>

  <xacro:add_tof index="0" tf_prefix="${tf_prefix}"/>
  <xacro:add_tof index="1" tf_prefix="${tf_prefix}"/>
  <xacro:add_tof index="2" tf_prefix="${tf_prefix}"/>
  <xacro:add_tof index="3" tf_prefix="${tf_prefix}"/>

</robot>
