<?xml version="1.0"?>
<robot name="robomaster_ep" xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#xacro">
  <xacro:include filename="base.urdf.xacro"/>
  <xacro:include filename="arm.urdf.xacro"/>
  <xacro:include filename="camera.urdf.xacro"/>
  <xacro:include filename="gripper.urdf.xacro"/>
  <xacro:robomaster_ep_base/>
  <xacro:arm/>
  <xacro:camera/>
  <xacro:gripper/>
<!-- 
  <link name="sphere">
    <visual>
      <geometry>
        <sphere radius="1.0"/>
      </geometry>
      <material name="wheel_bolt">
        <color rgba="0.6 0.2 0.0 1.0"/>
      </material>
    </visual>
  </link>


  <joint name="sphere_joint" type="fixed">
    <parent link="base_link"/>
    <child link="sphere"/>
  </joint> -->

</robot>
